logic_apps/claim-request-processor.json
{
    "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "claims_topic_name": {
            "type":"string"
        },
        "claims_report_generator_function_app_name":{
            "type":"string"
        },
        "location": {
            "type": "string",
            "defaultValue": "[resourceGroup().location]",
            "metadata": {
                "description": "Location for all resources."
            }
        },
        "rg_name":{
            "type":"string",
            "defaultValue":"[resourceGroup().name]"
        },
        "workflowName": {
            "defaultValue": "claim-request-processor",
            "type": "String"
        },
        "subscriptionId":{
            "type":"string",
            "defaultValue":"[subscription().subscriptionId]"
        },
        "claim_report_blob_connection_name":{
            "type":"string",
            "defaultValue": "azureblob-connection"
        },
        "azureevntgrid_connection_name":{
            "type":"string",
            "defaultValue":"azureeventgrid-connection"
        },
        "office365_connection_name":{
            "type":"string",
            "defaultValue": "office365-connection"
        },
        "topics_topic_claim_request_created_externalid": {
            "defaultValue":"[concat('/subscriptions/', parameters('subscriptionId'), '/resourceGroups/', parameters('rg_name'), '/providers/Microsoft.EventGrid/topics/', parameters('claims_topic_name'))]",
            "type": "String"
        },
        "sites_tal_sandbox_fineos_claims_report_generator_externalid": {
            "defaultValue": "[concat('/subscriptions/', parameters('subscriptionId'), '/resourceGroups/', parameters('rg_name'), '/providers/Microsoft.Web/sites/', parameters('claims_report_generator_function_app_name'))]",
            "type": "String"
        },
        "connections_claim_report_blob_connection_externalid": {
            "defaultValue": "[concat('/subscriptions/', parameters('subscriptionId'), '/resourceGroups/', parameters('rg_name'), '/providers/Microsoft.Web/connections/', parameters('claim_report_blob_connection_name'))]",
            "type": "String"
        },
        "connections_azureeventgrid_connection_externalid": {
            "defaultValue": "[concat('/subscriptions/', parameters('subscriptionId'), '/resourceGroups/', parameters('rg_name'), '/providers/Microsoft.Web/connections/', parameters('azureevntgrid_connection_name'))]",
            "type": "String"
        },
        "connections_office365_connection_externalid": {
            "defaultValue": "[concat('/subscriptions/', parameters('subscriptionId'), '/resourceGroups/', parameters('rg_name'), '/providers/Microsoft.Web/connections/', parameters('office365_connection_name'))]",
            "type": "String"
        }
    },
    "variables": {
        "claim_report_blob_connection_id": "[concat('/subscriptions/', parameters('subscriptionId'), '/providers/Microsoft.Web/locations/', parameters('location'), '/managedApis/azureblob')]",
        "azureerventgrid_connection_id": "[concat('/subscriptions/', parameters('subscriptionId'), '/providers/Microsoft.Web/locations/', parameters('location'), '/managedApis/azureeventgrid')]",
        "office365_connection_id": "[concat('/subscriptions/', parameters('subscriptionId'), '/providers/Microsoft.Web/locations/', parameters('location'), '/managedApis/office365')]"
    },
    "resources": [
        {
            "type": "Microsoft.Logic/workflows",
            "apiVersion": "2017-07-01",
            "name": "[parameters('workflowName')]",
            "location": "[parameters('location')]",
            "tags": {
                "owner": "vsankar@jadeworld.com",
                "project": "TAL Sandbox"
            },
            "properties": {
                "state": "Enabled",
                "definition": {
                    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion": "1.0.0.0",
                    "parameters": {
                        "$connections": {
                            "defaultValue": {},
                            "type": "Object"
                        }
                    },
                    "triggers": {
                        "When_a_resource_event_occurs": {
                            "splitOn": "@triggerBody()",
                            "type": "ApiConnectionWebhook",
                            "inputs": {
                                "body": {
                                    "properties": {
                                        "destination": {
                                            "endpointType": "webhook",
                                            "properties": {
                                                "endpointUrl": "@{listCallbackUrl()}"
                                            }
                                        },
                                        "topic": "[parameters('topics_topic_claim_request_created_externalid')]"
                                    }
                                },
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['azureeventgrid-connection']['connectionId']"
                                    }
                                },
                                "path": "[concat('/subscriptions/', uriComponent(parameters('subscriptionId')), '/providers/', uriComponent('Microsoft.EventGrid.Topics'), '/resource/eventSubscriptions')]",
                                "queries": {
                                    "x-ms-api-version": "2017-09-15-preview"
                                }
                            }
                        }
                    },
                    "actions": {
                        "Call_Report_Generator_Function": {
                            "runAfter": {},
                            "type": "Function",
                            "inputs": {
                                "body": "@triggerBody()?['data']",
                                "function": {
                                    "id": "[concat(parameters('sites_tal_sandbox_fineos_claims_report_generator_externalid'), '/functions/ClaimRequestTriggerListener')]"
                                },
                                "method": "POST"
                            }
                        },
                        "Get_blob_content_(V2)": {
                            "runAfter": {
                                "Parse_JSON": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ApiConnection",
                            "inputs": {
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['azureblob-connection']['connectionId']"
                                    }
                                },
                                "method": "get",
                                "path": "/v2/datasets/@{encodeURIComponent(encodeURIComponent('AccountNameFromSettings'))}/files/@{encodeURIComponent(encodeURIComponent('/claims-report-container/',body('Call_Report_Generator_Function')))}/content",
                                "queries": {
                                    "inferContentType": true
                                }
                            }
                        },
                        "Parse_JSON": {
                            "runAfter": {
                                "Call_Report_Generator_Function": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ParseJson",
                            "inputs": {
                                "content": "@triggerBody()?['data']",
                                "schema": {
                                    "properties": {
                                        "email": {
                                            "type": "string"
                                        },
                                        "firstName": {
                                            "type": "string"
                                        },
                                        "id": {
                                            "type": "integer"
                                        },
                                        "lastName": {
                                            "type": "string"
                                        },
                                        "userId": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        },
                        "Send_an_email_(V2)": {
                            "runAfter": {
                                "Get_blob_content_(V2)": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ApiConnection",
                            "inputs": {
                                "body": {
                                    "Attachments": [
                                        {
                                            "ContentBytes": "@{base64(body('Get_blob_content_(V2)'))}",
                                            "Name": "@{body('Call_Report_Generator_Function')}"
                                        }
                                    ],
                                    "Body": "<p>Your claim request has been created<br>\n<br>\n</p>",
                                    "Subject": "Claim Request - @{body('Parse_JSON')?['firstName']}",
                                    "To": "@body('Parse_JSON')?['email']"
                                },
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['office365-connection']['connectionId']"
                                    }
                                },
                                "method": "post",
                                "path": "/v2/Mail"
                            }
                        }
                    },
                    "outputs": {}
                },
                "parameters": {
                    "$connections": {
                        "value": {
                            "[parameters('claim_report_blob_connection_name')]": {
                                "connectionId": "[parameters('connections_claim_report_blob_connection_externalid')]",
                                "connectionName": "[parameters('claim_report_blob_connection_name')]",
                                "id": "[variables('claim_report_blob_connection_id')]"
                            },
                            "[parameters('azureevntgrid_connection_name')]": {
                                "connectionId": "[parameters('connections_azureeventgrid_connection_externalid')]",
                                "connectionName": "[parameters('azureevntgrid_connection_name')]",
                                "id": "[variables('azureerventgrid_connection_id')]"
                            },
                            "[parameters('office365_connection_name')]": {
                                "connectionId": "[parameters('connections_office365_connection_externalid')]",
                                "connectionName": "[parameters('office365_connection_name')]",
                                "id": "[variables('office365_connection_id')]"
                            }
                        }
                    }
                }
            }
        }
    ]
}